body {
    font-size: 16px;
    background-image: url("../images/fondoProvisional.jpg");
    background-color: green;
    background-repeat: repeat;
    color: white
  
}

#reglas.hidden {
    display: none;
}

#reglas {
    position:absolute;
    top:0;
    left:0;
    background-color: rgba(50, 50, 50, 0.9);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: large;
}

#reglas p {
    padding: 1rem 10rem;
}

#reglas ul {
    list-style-type: none;
}

#reglas li {
    padding: 0.2rem 0;
}

#reglas button {
    margin-left: 3rem;
}

h1 {
    margin-bottom: 2rem;
}

#main {
    color: white;
    padding-top: 1.2rem;
}
.button {
    padding: 2rem 3rem;
    border-radius: 25px;
    width: 8rem;
    height: 8rem;
    color: white
}

#hidden button {
    display: block;
}

#tabla {
    padding: 3rem
}

#table, th, td {
    border: 3px solid white;
    text-align: center;
}

#tabla td, th {
    padding: 0.7rem 4rem;
    color: white;
    font-size: 1.3rem;

}

h1 {
    text-align: center;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.dados {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
}

.dados img {
    display: block;
    width: 6rem;
    background-color: white;
    border-radius: 20px;
}
 
#tirarDados {
    padding: 2rem;
    font-size: 2rem;
}

#score {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
}

#victoria {
    position:absolute;
    top:0;
    left:0;
    background-color: rgba(50, 50, 50, 0.4);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
    color: #e9ff70    
}

#victoria.hidden {
    display: none;
}



