body {
    font-size: 16px;
    background-image: url("../images/fondoProvisional.jpg");
    background-color: green;
    background-repeat: repeat;
    color: white
  
}

#hidden {
    display: none;
}

.reglas {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40rem;
}

h1 {
    margin-bottom: 2rem;
}

#main {
    color: white;
}
.button {
    padding: 2rem 3rem;
    border-radius: 25px;
    width: 8rem;
    height: 8rem;
    color: white
}

#hidden button {
    display: block;
}

#tabla {
    padding: 3rem
}

#table, th, td {
    border: 3px solid white;
    text-align: center;
}

#tabla td, th {
    padding: 0.7rem 4rem;
    color: white;
    font-size: 1.3rem;

}

h1 {
    text-align: center;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.dados {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
}

.dados img {
    display: block;
    width: 6rem;
    background-color: white;
    border-radius: 20px;
}
 
#tirarDados {
    padding: 2rem;
    font-size: 2rem;
}

#score {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
}



